.Uploader {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: groove;
}

.Uploader .inputBox {
    height: 100%;
    text-align: start;
    white-space: nowrap;
    resize: none;
}

.Uploader #inputType {
    margin-top: 2%;
    display: grid;
    grid: auto / 50% 50%;
}
