.Graph {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.GraphOptions {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.Canvas {
    height: 100%;
    width: 100%;
}

.Canvas svg {
    height: 100%;
    width: 100%;
}

.PathsListContainer {
    overflow: auto;
    padding: 5%;
}

.InfoTableContainer {
    height: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#graph {
    border-style: groove;
    margin-right: 2%;
    padding: 0;
}

#graphInfo{
    border-style: groove;
}